*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
header{
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;  
                                            
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
h1{
    font-size: 1.72rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.44rem;
    margin-bottom: 1.5rem;
}
h3{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}
h4{
    font-size: 1rem;
}
p{
    font-size: 1rem;
    color: grey;
    line-height: 150%;
    margin-bottom: 1.5rem;
}
h1,h2,h3,h4{
    line-height: 120%;
}
.buttonHolder{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.25rem;
    height: 40px;
}
.button-primary{
    background-color: black;
    color: white;
}
.button-primary:hover{
  background-color: rgb(37, 36, 36);
  transition: all 0.2s ease-in; 
}
.button-secondary{
    color: black;
    border: 1px solid darkgray;
}
.button-secondary:hover{
    color: white;
    background-color: black;
    border: none;
    transition: all 0.2s ease-in;
}
#section-about{
    background-color: rgb(225, 224, 224);
}
.blog {
    padding: 1rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
}
.blog img{
    width: 100%;
}
.blog p{
    font: size 0.9rem;
}
.bloglist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(77, 77, 77); 
}
#logo{
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 1.2rem;
}
#menuButton{
    background-color: transparent;
    border: none;
}
nav{
    display: none;
}
@media only screen and (min-width: 576px) {
   .bloglist{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
  }

@media only screen and (min-width: 768px) {
    #menuButton{
        display: none;
    }
    nav{
        display: block;
    }
    #navList{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1.5rem;
    }
    #navList a{
        text-decoration: none;
        color: rgb(59, 58, 58);
    }
    #navList a:hover{
        text-decoration: underline;
    }
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       }
  }
@media only screen and (min-width: 992px) {
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       }
  }
@media only screen and (min-width: 1200px) {
    h1{
        font-size: 2.98rem;
    }
    h2{
        font-size: 2.48rem;
    }
    h3{
        font-size: 2.07rem;
    }
    h4{
        font-size: 1.97 rem;
    }
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       }
  }